<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamsoft.mgr.base.mapper.DistrictMapper">
	<select id="listByEntity" resultType="District">
		SELECT *
		FROM T_DISTRICT
		<if test="page != null">
			LIMIT ${page.pageStart}, ${page.pageSize}
		</if>
	</select>
	<select id="countByEntity" resultType="integer">
		SELECT COUNT(1)
		FROM T_DISTRICT
	</select>
	<select id="get" resultType="District">
		SELECT *
		FROM T_DISTRICT
		WHERE ID = #{id}
		LIMIT 1
	</select>
	<insert id="save">
		INSERT INTO T_DISTRICT
		(CENTER, CITY_CODE, CODE, ID, LEVEL, NAME, PARENT_ID)
		VALUES (#{entity.center}, #{entity.cityCode}, #{entity.code}, #{entity.id}, #{entity.level}, #{entity.name}, #{entity.parentId})
	</insert>
	<update id="update">
		UPDATE T_DISTRICT
		SET CENTER = #{entity.center},
			CITY_CODE = #{entity.cityCode},
			CODE = #{entity.code},
						LEVEL = #{entity.level},
			NAME = #{entity.name},
			PARENT_ID = #{entity.parentId}
		WHERE ID = #{entity.id}
	</update>
	<delete id="removeAll">
		DELETE FROM T_DISTRICT
		WHERE ID IN
		<foreach collection="ids" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
</mapper>